<div class="error-container">
    <div class="error-main">
      <div class="error-section">
        <div class="card-wrapper">
  
     <h1 class="error-title">
            404
          </h1>
      <h3 class="error-message">
            On dirait que vous êtes perdu
          </h3>
       <p class="error-description">
            La page que vous cherchez n'est pas disponible !
          </p>
          
          <div class="card-btn-container">
           <button mat-flat-button color="primary" class="home-btn">
              Retourner à la page d'accueil
            </button>
          </div>
  
             <div class="help-link-container">
            <a routerLink="/list-categories" class="help-link">
              Besoin d'aide ?
            </a>
       </div>

        </div>
      </div>
    </div>
  </div>
  