<section class="content">
    <div class="contact-container">
        <h2>Contactez-nous</h2>
        <p>Nous sommes des développeurs passionnés travaillant sur des projets variés.</p>
        <p>Si vous avez des questions, n'hésitez pas à nous contacter :</p>
        <ul class="contact-list">
          <li>Email : <a class="contact-link" href="mailto:zine.eddine.toubal@example.com">zine.eddine.toubal@univ-rouen.fr</a></li>
          <li>Email : <a class="contact-link" href="mailto:zine.eddine.toubal@example.com">elias.larbi@univ-rouen.fr</a></li>
          <li>
            LinkedIn : 
            <a class="contact-link" href="https://www.linkedin.com/in/zine-eddine-toubal/" target="_blank">Zine-Eddine TOUBAL</a>
          </li>
          <li>
            LinkedIn : 
            <a class="contact-link" href="https://www.linkedin.com/in/elias-larbi-a7a34b290/" target="_blank">Elias LARBI</a>
          </li>
        </ul>
    </div>      
</section>