<nav class="navbar">
  <div class="container-fluid">
    <div class="brand">
      <a class="navbar-brand" routerLink="/">
        <span class="app-name">MyApp</span>
      </a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-categorie"
          >Ajoute une categorie</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/swagger">Nos API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <button class="btn-login" (click)="loginOrLogout()">
      {{ isLoggedIn ? "Se déconnecter" : "Se connecter" }}
    </button>
  </div>
</nav>
